/* * Bannière  */
.banniere {
     display: block;
     background-color: rgb(7, 7, 7);
     border-top: #ffffff 1px solid;
     margin-top: 40px;
     padding-bottom: 20px;
}

.banniere h1 {
     text-align: center;
     font-size: 2em;
     color: rgb(209, 209, 18);
     margin-top: 20px;
}

.phrasebann {
     text-align: center;
     font-size: 1.5em;
     color: #ffffff;
     margin-top: -20px;
     margin-bottom: 20px;
     text-decoration: underline 1px whitesmoke;
}

.contactbann {
     text-align: center;
     font-size: 1em;
     color: #ffffff;
     margin-top: -10px;
     margin-bottom: 20px;
}
.underline2 {
     text-decoration: underline #ffffff 1px solid;
     color: rgb(179, 179, 17);
}