/* * Responsive design for phones */
@media screen and (max-width: 340px) {

     .card1 {
          margin-left: 0px;
     }
     .box2 {
          top: 1000px;
          left: 25%;
     }
     .banniere {
          margin-top: 400px;
     }
     
}


@media screen and (max-width: 390px ) and (min-width: 341px) {

     .box2 {
          top: 940px;
          left: 25%;
     }
     .banniere {
          margin-top: 400px;
     }

}

@media screen and (max-width: 709px) and (min-width: 391px) {

     .box2 {
          top: 940px;
          left: 25%;
     }
     .banniere {
          margin-top: 400px;
     }

}

@media screen and (max-width: 1024px) and (min-width: 710px) {

     .card1 {
          margin-left: 300px;
     }
     .box2 {
          left: 50px;
     }

}