<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Rémi Derrien</title>
</head>
<body>
     <section>
          <h1>Rémi Derrien</h1>
          <p>Coach Sportif diplômé</p>
          <ul>
               <li>Coaching</li>
               <li>Programmation</li>
               <li>Nutrition</li>
          </ul>
     </section>
     <section>
          <h1>Découvre ce qu'on va travailler ensemble</h1>
          
          <div>
               <title>Offre complète</title>
               <p>Programme d'entrainement sur-mesure, personnalisé en fonction de ton objectif</p>
               <p>Suivi nutrionnel adapté</p>
               <p>Accompagnement 7j/7</p>
               <p>Bilan hebdomadaire pour suivre ta progression</p>

               <p>Pour tous niveaux et tout public</p>

               <a href="...">Démarre ton suivi</a>
          </div>
     </section>
     <section>
          <h1>Me contacter</h1>
          <p>Tu peux me contacter par mail, whatsapp ou instagram: </p>
          <p>Mail: xxxx</p>
          <p>Whatsapp: xxx</p>
          <p>Instagram: @remi.athlx</p>
     </section>
     
</body>
</html>