<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Rémi Derrien</title>
     <link rel="stylesheet" href="../css/hero.css">
     <link rel="stylesheet" href="../css/banner.css">
</head>
<body>
     <section class="banniere">
          <h1>Rémi Derrien</h1>
          <p class="titleremi">Coach Sportif diplômé</p>
          <ul class="mainlist">
               <li>Coaching ⸱ </li>
               <li>Programmation ⸱ </li>
               <li>Nutrition</li>
          </ul>
     </section>
     <!--Maybe put a rectangle here?-->
     <section class="offrecoaching">
          <h1>Découvre mon programme</h1>
          <hr>
          <div class="card">
               <div class="card1">
                    <h3>Offre complète</h3>
                    <hr>
                    <p>🏆 Programme d'entrainement sur-mesure, <br> personnalisé en fonction de ton objectif</p>
                    <hr>
                    <p>🥗 Suivi nutrionnel adapté</p>
                    <hr>
                    <p>🙌 Accompagnement 7j/7</p>
                    <hr>
                    <p>📝 Bilan hebdomadaire pour suivre ta progression</p>
                    <hr>
                    
                    <p>💪 Pour tous niveaux et tout public</p>
                    
                    <a href="../templates/form.html" class="boutonsuivi">Démarre ton suivi</a>
               </div>
          </div>
     </section>
     <section class="contactindex">
          <h1> 💬 Me contacter</h1>
          <p class="textcontactindex">Tu peux me contacter par mail ou sur instagram: </p>
          <p class="mailindex">📩 remi.athlx@gmail.com</p>
          <p class="instaindex">Instagram: @remi.athlx</p>
     </section>
     

     <div class="presbox">
          <div class="box2">
               <img src="../img/remipfpvraie.png" alt="Rémi Derrien" class="imgpres">
               <div class="textpresbox">
                    <p>
                         <span class="bold">Rémi Derrien</span>, <br> coach sportif de 20 ans. <br> Diplomé d'état et
                         pratiquant<br> de musculation
                         naturelle <br> depuis 4 ans, dont l'objectif<br> est d'accompagner
                         les gens <br> dans leurs 
                         objectifs !  
                    </p>

               </div>
          </div>
     </div>
     
</body>
</html>