<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Mentions Légales</title>
     <link rel="stylesheet" href="../css/mentions.css">
</head>
<body>
     <h1>Mentions Légales et crédits</h1>

     <h2>📝 Crédits</h2>
     <p class="credits">
          Site designé et développé par Gaël Tournier.
          <br>
          <a href="https://github.com/FlyingCow31/RemiAthlx">Site Open source sur mon github</a>
          <br>
          <a href="https://www.instagram.com/gael.tournier?igsh=MjdiaDExZDc1MHFi">📷 Instagram: @gael.tournier</a>
          <br>
          Site web réalisé gratuitement dans le cadre d'une amitié ;)
     </p>


     <h2>💻 Hébergement</h2>
     <p>
          Ce site web est hebergé par <a href="...">...</a>
          Merci à eux pour leur services qualitatifs.
     </p>

     <h2>🍪 Cookies</h2>
     <p>
          Ce site web n'utilise aucun cookies, vos données sont 
          en sécurité et nous ne les collectons pas.
     </p>

     <h2>📚 Mentions légales obligatoires</h2>
     <p>
          Conformément à la loi pour la confiance dans l'économie numérique (LCEN) du 21 juin 2004, 
          les informations suivantes sont fournies pour le site web <a href="https://remiathlx.fr">remiathlx.fr</a> :
          <br>

          Entreprise du nom commercial "DRN Training" en statut micro-entreprise et au numéro SIRET 941348936 00013 . 
          <br>
          DRN Training est domiciliée au 78 chemin du Séminaire, 31200 Toulouse, France et est gérée exclusivement par Mr.Rémi Derrien.
          <br>
          TVA non applicable selon l'article 293 B du CGI.
          <br>
          Pour toutes réclamations, vous pouvez nous contacter par email à <a href="remi.athlx@gmail.com">remi.athlx@gmail.com</a>. 
          <br>
          Pour toutes demandes concernant le site web, merci de contacter le webmaster à l'adresse <a href="gael.tournier@epistudios.fr">gael.tournier@epistudios.fr</a>.
          <br>
          Ce site web est protégé par la licence MIT, qui permet une utilisation libre et gratuite, sous réserve de respecter les conditions de la licence.
          <br>


     </p>     


     <a href="../templates/index.html" class="retourindex">Retour à l'accueil</a>
</body>
</html>